{% extends "base_generic.html" %}

{% block content %}
{% load static %}



<div class="row row-flex no-gutters row-prev mb-2 ">

    <div class="col-12 ">
        <div class="card text-white bg-secondary">
            	<div class="card-body">
            	    	<h5 class="card-title ">Кровь упыря</h5>

					<div class="card-text flex-grow ">
					  <p>Добывается в горных рудниках, где драконы сражались с гномами. Используется для приворотов.</p>
					</div>
            	</div>
        </div>
        </div>
        </div>

<div class="row row-flex no-gutters">

{% for plant in plant_list %}
{% if plant.product_type == 'item' %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="container-fluid px-1 h-100 pb-2">
            {% load static %}
      		<div class="card h-100 text-white bg-secondary ">

      			<button type="button" class="btn p-0 m-0" data-toggle="modal" data-target=".bd-example-modal-lg">

      			    {% load staticfiles %}
      				<div class="box"><img class="d-block w-100" src="{{ plant.imgsrc_min.url }}" ></div>
      			</button>
				<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  					<div class="modal-dialog modal-lg">
    					<div class="modal-content container-fluid">

    					    {% load staticfiles %}
      						<img class="d-block w-100" src="{{ plant.imgsrc_full.url }}" >
    					</div>
  					</div>
				</div>

      			<div class="card-body d-flex flex-column flex-grow   p-2">
      				<h5 class="card-title ">{{ plant.name }}</h5>

					<div class="card-text flex-grow ">
					  <p>{{ plant.description }}</p>
					</div>

					<div class="w-100 ">
						<div class="row no-gutters">
							<div class="col-xs-12">
								<p> Цена <b>{{ plant.prise }}</b> руб.</p>
							</div>
						</div>
						<div class="row no-gutters">
                        <div class="col-xs-12 col-sm-6 col-md-5 pl-0 pb-2 pb-sm-0">
                            <div class="input-group container-fluid much pr-0 pl-0 ">
                                <div class="input-group-prepend d-inline">
                                    <button class="btn btn-dark btn-sm  minus-btn1" id="minus-btn"><i class="fa fa-minus"></i></button>
                                </div>
                                <input type="text" id="qty_input" class="form-control form-control-sm text-center d-inline  qty_input1" value="{{ plant.amount }}" min="0">
                                <div class="input-group-prepend ">
                                    <button class="btn btn-dark btn-sm d-inline rounded-right plus-btn1" id="plus-btn"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    	<div class="col-12 col-sm-6 col-md-7 ">
                            <div class="input-group container-fluid px-0">
                            	 <div class="input-group-prepend ml-0 ml-sm-1 container-fluid px-0">
                                    <button class="btn btn-dark rounded btn-sm w-100 px-0" id="ok-btn">
                                    	Добавить <i class="fa fa-shopping-basket"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
					</div>
					</div>
      			</div>

    		</div>
    	</div>
    </div>
{% endif %}
{% endfor %}

</div>
<div class="row row-flex no-gutters row-post mb-2 mt-3">

    <div class="col-12 ">
        <div class="card text-white bg-secondary">
            	<div class="card-body">
            	    	<h5 class="card-title ">Кровь упыря</h5>

					<div class="card-text flex-grow ">
					  <p>Добывается в горных рудниках, где драконы сражались с гномами. Используется для приворотов.</p>
					</div>
            	</div>
        </div>
        </div>
        </div>



{% endblock %}
